@font-face {
    font-family: Seo;
    src: url(./NeueHaasDisplayMediu.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    position: relative;
    padding: 0 2vw 02vw;
}

nav{
   padding: 5vh 0vw 5vw 0vw;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-part2 h4{
    border: 1px solid rgba(131, 129, 129, 0.964);
    border-radius: 60px;
    padding: 12px 17px;
    font-weight: 600 ;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 20%;
    transition: all ease 0.4s;
}

.nav-part2 h4:hover::after{
    bottom: 0;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}

.nav-part2 h4:hover a{
    color: white;
}

.center{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid #b5b4b4;
    font-family: Seo;
}

.left{
    padding-bottom: 8.5vh;
    padding-left: 3vh;
    width: 35vw;
    font-size: 40px;
}

.right{
    padding-bottom: 6vh;
    font-size: 180px;
    text-align: right;
    line-height: 8vw;
}

.page1 video{
    position: relative;
    width: 100%;
    border-radius: 2vw;
    margin-top: 8vh;
}

.orng-shape{
    position: absolute;
    right: 0;
    top: 84vh;
    width: 105vh;
    height: 90vh;
}

.orng-1{
    background-color: #FE340C;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    position: absolute;
}

.orng-2{
    background-color: #FE340C;
    border-radius: 50%;
    height: 80vh;
    width: 80vh;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}

@keyframes anime1{
    from{
        transform: translate(-8%,8%);
    }
    to{
        transform: translate(8%,-8%);
    }
}
