@font-face {
    font-family: Seo;
    src: url(Assets/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(Assets/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: cool;
    font-weight: 200;
    src: url(Assets/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.main{
    position: relative;
    /* background-color: black; */
    z-index: 10;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw 02vw;
}

nav {
    padding: 5vh 0vw 5vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-part2 h4 {
    border: 1px solid rgba(131, 129, 129, 0.964);
    border-radius: 60px;
    padding: 12px 17px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 20%;
    transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
    bottom: 0;
}

.nav-part2 h4 a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
    font-family: Seo;
}

.nav-part2 h4:hover a {
    color: white;
}

.center {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid #b5b4b4;
    font-family: Seo;
}

.left {
    padding-bottom: 8.5vh;
    padding-left: 3vh;
    width: 35vw;
    font-size: 40px;
}

.right {
    padding-bottom: 6vh;
    font-size: 180px;
    text-align: right;
    line-height: 8vw;
}

.page1 video {
    position: relative;
    width: 100%;
    border-radius: 2vw;
    margin-top: 8vh;
}

.orng-shape {
    position: absolute;
    right: 0;
    top: 84vh;
    width: 105vh;
    height: 90vh;
}

.orng-1 {
    background-color: #FE340C;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    position: absolute;
}

.orng-2 {
    background-color: #FE340C;
    border-radius: 50%;
    height: 80vh;
    width: 80vh;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(-8%, 8%);
    }

    to {
        transform: translate(8%, -8%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 5.5vw 0;
    position: relative;
}

.moving-txt {
    overflow-x: auto;
    white-space: nowrap;
}

.moving-txt::-webkit-scrollbar {
    display: none;
}

.con {
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-txt h1 {
    font-size: 15.5vh;
    font-family: Seo;
    display: inline-block;
}

.circle {
    height: 8.5vh;
    width: 8.5vh;
    border-radius: 50%;
    background-color: #FE340C;
    display: inline-block;
    margin: 0 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page-2bottom {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5vw;
}

.page-2bottom h1 {
    font-family: Seo;
    font-size: 50px;
    width: 48%;
    line-height: 8vh;
    position: relative;
    z-index: 9;
}

.bottom-part2 img {
    height: 30vh;
    width: auto;
    border-radius: 3vh;
}

.bottom-part2 {
    width: 25%;
}

.bottom-part2 p {
    margin-top: 5vh;
    font-weight: 200;
    font-family: cool;
}

.gola {
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    top: 55%;
    left: 20%;
    filter: blur(20px);
    animation-name: ring;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ring {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.feat {
    display: flex;
    align-items: center;
    position: relative;
    left: 5vh;
}

.feat-1 {
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background-color: #FE340C;
    display: inline-block;
}

.feat p {
    font-weight: 200;
    font-family: cool;
    display: inline-block;
    padding-left: 1vh;
}

.element {
    margin-top: 10vh;
}

.elem {
    height: 130px;
    width: 100%;
    border-bottom: 2px solid #b5b4b4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 4vh 0 4vh;
}

.elem h1 {
    font-size: 3vw;
    font-family: Seo;
    z-index: 9;
}

.brand {
    z-index: 9;
}

#fang {
    text-align: right;
    font-weight: 200;
    font-family: cool;
}

#env {
    font-family: cool;
    color: #b5b4b4;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

.fixed-img {
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 20%;
    display: none;
    background-size: cover;
    background-position: center;
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.page5{
    height: 105vh;   
    width: 100%;
}

.footer{
    height: 105vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: black;
    color: white;
    bottom: 0;
}

.parent{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.shape1{
    height: 85%;
    width: 85%;
    background-color: #FE340C;
    position: absolute;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shape2{
    height:70%;
    width: 90%;
    background-color: #FE340C;
    position: absolute;
    filter: blur(50px);
    top: -27%;
    right: -27%;
    animation-name: shape2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape1 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes shape2{
    0%{
        transform: rotate(35deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

.footer-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 12vh;
    position: absolute;
    bottom: 70%;
}

.footer-top1 h3{
    width: 5vh;
    font-size: 30px;
    font-family: Seo;
    color: #EFEAE3;
}

.footer-top2 h6{
    width: 50vh;
    font-family: cool;
    font-size: 20px;
    margin-bottom: 4vh;
    font-weight: 100;
    color: #EFEAE3;
}

.footer-top2 h4{
    width: 50vh;
    font-family: cool;
    font-size: 20px;
    border-bottom: 2px solid rgb(176, 173, 173);
    color: rgb(176, 173, 173);
    padding-bottom: 1vh;
    font-weight: 100;
}

.footer h1{
    font-size: 50vh;
    color: #EFEAE3;
    font-family: Seo;
    position: absolute;
    bottom: 3%;
}

.footer-bottom{
    border-top: 2px solid rgba(155, 146, 146, 0.299);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    column-gap: 49vh;
    margin: 0 2vh;
    position: absolute;
    bottom: 0;
}

.footer-bottom h5{
    font-family: cool;
    font-size: 16px;
    font-weight: 300;
    color: #EFEAE3;
}





