@font-face {
    font-family: Seo;
    src: url(Assets/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    src: url(Assets/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: cool;
    font-weight: 200;
    src: url(Assets/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #EFEAE3;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease-out 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h1{
    font-size: 10vh;
    font-family: Seo;
    color: transparent;
    background: linear-gradient(to right ,orange,orangered);
    background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.loader h1:nth-child(2){
    animation-delay: 2s;
}

.loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.container {
    position: relative;
    z-index: 10;
    background-color: transparent;
}

.main {
    background-color: #EFEAE3;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw 02vw;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding: 5vh 0vw 5vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-part2 h4 {
    border: 1px solid rgba(131, 129, 129, 0.964);
    border-radius: 60px;
    padding: 12px 17px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 20%;
    transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
    bottom: 0;
}

.nav-part2 h4 a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
    font-family: Seo;
}

.nav-part2 h4:hover a {
    color: white;
}

.menu{
    display: none;
}

.center {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid #b5b4b4;
    font-family: Seo;
}

.left {
    padding-bottom: 8.5vh;
    padding-left: 3vh;
    width: 35vw;
    font-size: 40px;
}

.right {
    padding-bottom: 6vh;
    font-size: 180px;
    text-align: right;
    line-height: 8vw;
}

.page1 video {
    position: relative;
    width: 100%;
    border-radius: 2vw;
    margin-top: 8vh;
}

.orng-shape {
    position: absolute;
    right: 0;
    top: 84vh;
    width: 105vh;
    height: 90vh;
}

.orng-1 {
    background-color: #FE340C;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    position: absolute;
}

.orng-2 {
    background-color: #FE340C;
    border-radius: 50%;
    height: 80vh;
    width: 80vh;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(-8%, 8%);
    }

    to {
        transform: translate(8%, -8%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 5.5vw 0;
    position: relative;
}

.moving-txt {
    overflow-x: auto;
    white-space: nowrap;
}

.moving-txt::-webkit-scrollbar {
    display: none;
}

.con {
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-txt h1 {
    font-size: 15.5vh;
    font-family: Seo;
    display: inline-block;
}

.circle {
    height: 8.5vh;
    width: 8.5vh;
    border-radius: 50%;
    background-color: #FE340C;
    display: inline-block;
    margin: 0 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page-2bottom {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5vw;
}

.page-2bottom h1 {
    font-family: Seo;
    font-size: 50px;
    width: 48%;
    line-height: 8vh;
    position: relative;
    z-index: 9;
}

.bottom-part2 img {
    height: 30vh;
    width: auto;
    border-radius: 3vh;
}

.bottom-part2 {
    width: 25%;
}

.bottom-part2 p {
    margin-top: 5vh;
    font-weight: 200;
    font-family: cool;
}

.gola {
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    top: 55%;
    left: 20%;
    filter: blur(20px);
    animation-name: ring;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ring {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.feat {
    display: flex;
    align-items: center;
    position: relative;
    left: 5vh;
}

.feat-1 {
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background-color: #FE340C;
    display: inline-block;
}

.feat p {
    font-weight: 200;
    font-family: cool;
    display: inline-block;
    padding-left: 1vh;
}

.element {
    margin-top: 10vh;
}

.elem {
    height: 130px;
    width: 100%;
    border-bottom: 2px solid #b5b4b4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 4vh 0 4vh;
}

.elem h1 {
    font-size: 3vw;
    font-family: Seo;
    z-index: 9;
}

.brand {
    z-index: 9;
}

#fang {
    text-align: right;
    font-weight: 200;
    font-family: cool;
}

#env {
    font-family: cool;
    color: #b5b4b4;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

.fixed-img {
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 20%;
    display: none;
    background-size: cover;
    background-position: center;
}

.page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-bottom: 15vh;
    position: relative;
}

.all-project {
    width: 9%;
    border: 1px solid rgba(131, 129, 129, 0.964);
    border-radius: 50px;
    padding: 12px 19px;
    margin: 8vh 0 0 5vh;
    font-weight: 300;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.all-project::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 15%;
    transition: all ease 0.4s;
}

.all-project:hover::after {
    bottom: 0;
}

.all-project a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
    font-family: Seo;
}

.all-project:hover a {
    color: #EFEAE3;
}

.hero-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20vh 5vh 0 5vh;
    border-radius: 5vh;
}

.hero img {
    height: 105vh;
    width: 110vh;
    border-radius: 3vh;
    background-color: black;
}

.hero1 {
    margin-left: 20vh
}

.head {
    color: #EFEAE3;
    font-size: 60px;
    font-family: Seo;
    border-left: 2px solid #504A45;
}

.head h4 {
    margin-left: 4vh;
    color: #504A45;
}

.hero p {
    color: #EFEAE3;
    font-family: cool;
    width: 60vh;
    margin-top: 1vh;
}

.work {
    display: flex;
    align-items: center;
    position: relative;
    left: 4vh;
    margin-top: 15vh;
    margin-left: 9vh;
}

.work-with {
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background-color: #FE340C;
    display: inline-block;
}

.work p {
    font-weight: 200;
    font-family: cool;
    display: inline-block;
    padding-left: 1vh;
}

.swiper {
    width: 100%;
    min-height: 35vh;
    padding: 5vw 6vw;
    cursor: grab;

}

.swiper-slide {
    padding-left: 2vw;
    background: #EFEAE3;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 25px;
    border-left: 1px solid #a39e9783;
}

.swiper-slide img {
    display: inline-block;
    position: relative;
    width: 51%;
    object-fit: cover;
}

.swiper-slide p {
    width: 79%;
    color: #2a2929f4;
    font-size: 1.08vw;
    font-family: cool;
}

.swiper-slide {
    width: 25%;
}

.page5 {
    height: 105vh;
    width: 100%;
}

.footer {
    height: 105vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: black;
    color: white;
    bottom: 0;
}

.parent {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape1 {
    height: 85%;
    width: 85%;
    background-color: #FE340C;
    position: absolute;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shape2 {
    height: 70%;
    width: 90%;
    background-color: #FE340C;
    position: absolute;
    filter: blur(50px);
    top: -27%;
    right: -27%;
    animation-name: shape2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape1 {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@keyframes shape2 {
    0% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 12vh;
    position: absolute;
    bottom: 70%;
}

.footer-top1 h3 {
    width: 5vh;
    font-size: 30px;
    font-family: Seo;
    color: #EFEAE3;
}

.footer-top2 h6 {
    width: 50vh;
    font-family: cool;
    font-size: 20px;
    margin-bottom: 4vh;
    font-weight: 100;
    color: #EFEAE3;
}

.footer-top2 h4 {
    width: 50vh;
    font-family: cool;
    font-size: 20px;
    border-bottom: 2px solid rgb(176, 173, 173);
    color: rgb(176, 173, 173);
    padding-bottom: 1vh;
    font-weight: 100;
}

.footer h1 {
    font-size: 50vh;
    color: #EFEAE3;
    font-family: Seo;
    position: absolute;
    bottom: 3%;
}

.footer-bottom {
    border-top: 2px solid rgba(155, 146, 146, 0.299);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 49vh;
    margin: 0 2vh;
    position: absolute;
    bottom: 0;
}

.footer-bottom h5 {
    font-family: cool;
    font-size: 16px;
    font-weight: 300;
    color: #EFEAE3;
}

.full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    top: -100%;
    transition: all ease 0.5s;
}

.full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 8vh;
    display: flex;
    justify-content:end;
    align-items:end;
    flex-direction: column;
    font-family: Seo;
}


@media (max-width : 600px){
.loader h1{
    font-size: 5vh;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    padding: 3vh ;
    position: absolute;
    z-index: 99;
}

.nav-part2 {
    display: none;
}

.nav img{
    transition: all ease 0.2s;
    height: 10vh;
}

.menu{
    display: block;
    height: 7vh;
    width: 23%;
    padding: 2vh 2vh 2vh 2vh;
    border-radius: 5vh;
    border: 1px solid rgb(206, 204, 204);
    color: rgb(70, 70, 70);
    text-align: center;
    font-family: neu;
    font-weight: 0;
}

.center {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid #b5b4b4;
    font-family: Seo;
    position: relative;
}

.left {
    padding-bottom: 5vh;
    padding-left: 1vh;
    width: 87%;
    font-size: 40px;
}

.right {
    position: absolute;
    top: 17vh;
    right: 4vh;
    font-size: 120px;
    text-align: right;
    line-height: 17vw;
}

.page1 video {
    position: relative;
    width: 92%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 2vw;
    margin: 4vh 3vh 0 2vh;
}

.orng-shape {
    position: absolute;
    right: 0;
    top: 65vh;
    width: 30vh;
    height: 30vh;
}

.orng-2 {
    height: 30vh;
    width: 30vh;
}

.moving-txt h1 {
    font-size: 5vh;
    font-family: Seo;
    display: inline-block;
}

.circle {
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: #FE340C;
    display: inline-block;
    margin: 1vh 2vw;
}

.page-2bottom {
    margin-top: 5vh;
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3vw 5vw;
}

.page-2bottom h1 {
    font-family: Seo;
    font-size: 40px;
    width: 98%;
    line-height: 4vh;
    position: relative;
    z-index: 9;
}

.bottom-part2 img {
    margin-top: 5vh;
    left: 3vh;
    height: 20vh;
    width: 35vh;
    border-radius: 1vh;
    position: absolute;
    z-index: 9;
}

.bottom-part2 {
    width: 100%;
}

.bottom-part2 p {
    margin-top: 27vh;
    font-weight: 200;
    font-family: cool;
    width: 78%;
    font-size: 25px;
}

.gola {
    height: 30vh;
    width: 30vh;
    position: absolute;
    top: 20%;
    left: 45%;
    
}



}